.header {
  background: linear-gradient(to right, rgba($color-secondary-light, .7), rgba($color-secondary-dark, .7)), url("../img/hero.jpg") center/cover fixed;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  &__heading {
    text-transform: uppercase;
    color: white;
    text-align: left;
    justify-content: center;
    margin-bottom: 10rem;

    &-1 {
      display: block;
      font: 300 6rem Lato;
      letter-spacing: 3rem;
      margin-bottom: 2.5rem;
      animation: leftToRight 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &-2 {
      display: block;
      letter-spacing: 1.22rem;
      font: 600 3rem lato;
      animation: rightToLeft 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

  }
}