//$color-primary : ;
$color-primary-light : #a8c0ff;
$color-primary-dark : #3f2b96;
$color-secondary: #03a9f4;
$color-secondary-light: #00bcd4;
$color-secondary-dark: #2196f3;
$color-tertiary: #f44336;
$color-tertiary-1: #E91E63;

$color-background: #f6f6f6;

$color-text : #b3b3b3;
$color-text-2 : #7c7c7c;
$color-h3 : #7c7c7c;
$color-white: #fff;
$color-black: #000000;

$box-shadow-light: 0 1.5rem 4rem rgba($color-black,.4);
$box-shadow-dark: 0 2.5rem 4rem rgba($color-black,.4);

///////////////////////////////////////
// Break Points
$bp-1 : 75em; // 1200px
$bp-2: 65.625em; // 1050px
$bp-3: 56.25em; // 900px
$bp-4: 50em; // 800px
$bp-5: 46.875em; // 750px
$bp-6: 37.5em; // 600px
$bp-7: 29.375em; // 470px
$bp-7: 29.375em; // 470px
$bp-8: 18.75em; // 300px
$bp-9: 21.875em ; // 350px

