//Body Font

body {
  font: 400 1.6rem / 1.7 "Lato", sans-serif;
}

.heading-primary {
  text-transform: uppercase;
  font-size: 3.5rem;
  display: inline-block;
  background: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
  color: transparent;
  -webkit-background-clip: text;

  @media only screen and (max-width: $bp-5) {
    font-size: 2.5rem;
  }


  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 3rem rgba(0,0,0,.2);
  }

}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-h3;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}