.u-center-item {
  display: block  !important;
  margin: 0 auto ;
}

.u-center-text {
  text-align: center;
}

.btn-basic {
  text-align: center ;
  width: 45% ;
  margin-top: 7rem;
}

///////////////////////////////
// Bottom Margin utilities

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 8rem;
}

///////////////////////////////
// Top Margin utilities

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 8rem;
}