body {
  padding: 3rem;
  color: $color-text;

  @media only screen and (max-width: $bp-2) {
    padding: 0;
  }

}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.section-about {
  background: $color-background;
  margin-top: -13rem;
  padding: 25rem 3rem 20rem;

  @media only screen and (max-width: $bp-6) {
   margin-top: -20rem;
    padding: 25rem 3rem 10rem;
  }
}

.details {
  display: flex;
  margin-top: 8rem;

  @media only screen and (max-width: $bp-2) {
    flex-direction: column;
    margin-bottom: 15rem;
  }

  @media only screen and (max-width: $bp-6) {
    margin-top: 4rem;
  }

  &__text {
    flex: 1;
    margin-right: 6rem;


    @media only screen and (max-width: $bp-2) {
      margin-bottom: 6rem;
      margin-right: 0;
    }

  }

  &__pg {

    &:first-of-type {
      margin-bottom: 3rem;
    }
  }

  &__images {
    flex: 1;
    position: relative;

    @media only screen and (max-width: $bp-2) {
      margin-bottom: 8rem;
    }
  }

  &__images:hover &__photo:not(:hover) {
    transform: scale(.95);
  }

  &__photo {
    position: absolute;
    //width: 100%;
    transition: all .2s;
    outline-offset: 1rem;
    box-shadow: $box-shadow-light;

    @media only screen and (max-width: $bp-2) {
      width: 33%;
    }

    &:hover {
      transform: scale(1.03) translateY(-1rem);
      outline: 1.5rem solid $color-secondary;
      z-index: 10;
      box-shadow: $box-shadow-dark;
    }

    &-1 {
      top: -1rem;
      left: 0;

      @media only screen and (max-width: $bp-2) {
        top: -1rem;
        left: 2%;
      }
    }

    &-2 {
      top: 2.5rem;
      left: 40%;

      @media only screen and (max-width: $bp-2) {
        top: 3rem;
        right: 2%;
        left: auto;
      }
    }

    &-3 {
      top: 40%;
      left: 20%;

      @media only screen and (max-width: $bp-2) {
        transform: scale(1.1);
        top: 2rem;
        left: 33%;
      }
    }
  }
}

.section-features {
  background: linear-gradient(to right, rgba($color-secondary-light, .7), rgba($color-secondary-dark, .7)), url("../img/nat-4.jpg") center/cover;
  transform: skewY(-5deg);
  margin-top: -6rem;
  padding: 20rem 0 15rem;

  @media only screen and (max-width: $bp-6) {
    padding: 5rem 0 5rem;
  }
}

.section-tours {
  background: $color-background;
  margin-top: -6rem;
  padding: 20rem 0 15rem;

  @media only screen and (max-width: $bp-6) {
    padding: 15rem 0 7rem;
  }
}

.section-stories {
  background: rgba(#fff, .9);
  padding: 15rem 0;
  position: relative;

  @media only screen and (max-width: $bp-6) {
    padding: 7rem 0;
  }

}

.signup-section {
  padding: 15rem 0;
  background: linear-gradient(to right bottom, rgba($color-secondary-light, .9), rgba($color-secondary-dark, .9));

  @media only screen and (max-width: $bp-6) {
    padding: 3rem 0;
  }

}

.footer {
  padding: 10rem 8rem;
  background: #3e3e3e;

  @media only screen and (max-width: $bp-6) {
    padding: 4rem 4rem 0;
  }

}